body {
    background-color: gray;
    color: white;
    font-size: 9pt;
    display: inline-block;
    position: relative;
    left: 40px;
    font-family: 'Courier New', Courier, monospace;
    /*white-space: pre-wrap;*/

}
h1 {
    color: white;
    font-size: 12pt;
    position: relative;
    left: -40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
h2 {
    color: white;
    font-size: 11pt;
    position: relative;
    left: -30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
h3 {
    color: white;
    font-size: 10pt;
    position: relative;
    left: -20px;
}
iframe {
    border: 1px solid black;
    width: calc(100vw - 200px);
    height: 80vh;
}
.hide {
    display: none;
}
.show {
    display: inline;
}
